$gray-100: #F9FAFE;
$gray-300: #F5F5F5;
$gray-400: #e2e2e2;
$gray-500: #919191;
$gray-700: #888888;
$gray-900: #474747;

$sky-400: #67C9EB;
$sky-500: #6CADF5;

$blue-400: #3c91d7;
$blue-500: #6076C4;


$purple-400: #726CF5;
$purple-500: #5550B5;
$purple-700: #242938;
$purple-900: #1d212f;

$red-400: #ED6F78;
$red-500: #ED5862;

$yellow-400: #FFD02F;
$yellow-500: #FFC814;

$green-400: #148f77;
$green-500: #53B08C;